PORT=4002

NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/distributed_commerce_product_db"

SERVICE_NAME=product-service

PRODUCT_GRPC_HOST=0.0.0.0
PRODUCT_GRPC_PORT=50052