PORT=4006

NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/distributed_commerce_inventory_db"

SERVICE_NAME=inventory-service

INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50053