PORT=4007

NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/distributed_commerce_search_db"

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

REDIS_URL=redis://redis:6379

ELASTICSEARCH_URL=http://elasticsearch:9200

SERVICE_NAME=search-service

PRODUCT_SERVICE_URL=http://product-service:4002/api/v1/

PRODUCT_GRPC_URL=product-service:50052