PORT=4009

NODE_ENV=development

SERVICE_NAME=notification-service

SAMPLE_USER=31adbe6f-83c1-456f-a54e-1ae27e22f8fb

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/distributed_commerce_notification_db"

SOCKET_URL=http://notification-service:4009