PORT=4001
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/distributed_commerce_user_db"
JWT_ACCESS_SECRET=distributed_access_secret_key_2407
JWT_REFRESH_SECRET=distributed_refresh_secret_key_2407
ACCESS_TOKEN_EXPIRES_IN=45m
REFRESH_TOKEN_EXPIRES_IN=7d
SERVICE_NAME=user-service