PORT=4004

NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/distributed_commerce_order_db"

SERVICE_NAME=order-service

PRODUCT_GRPC_URL=product-service:50052
INVENTORY_GRPC_URL=inventory-service:50053

ORDER_GRPC_HOST=0.0.0.0
ORDER_GRPC_PORT=50051